*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
    margin: 0;
}
:root{
    --title-color: rgb(214, 218, 240);
}

body{
    font-family: 'Geist Mono', 'JetBrains Mono';
    color: rgb(188, 191, 219);
    background: radial-gradient(circle at 50% 30%,
            #10203f 0%,
            #0b132b 40%,
            #050816 100%);  
}

.add-box{
    border-width: 3px;
    border-radius: 10px;
    border-color: aliceblue;
    border-style: solid;
    padding: 1.2rem;
    margin-left: 12vw;
    margin-right: 12vw;
}

